---
layout: default
title: Mentorship Resources
---

<div class="container resources">
    <div class="material">
        <h1>Mentorship Resources</h1>

        <div class="row g-3">
            {% for resources in site.data.resources %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{resources.image}}" alt="pocketbook-mentees" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{resources.title}}</h5>
                        <a href={{resources.link}} class="btn btn-outline-primary">Open</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <div class="blog">
        <h1>Mentorship Blog Posts</h1>
        
        {% for blog in site.data.blogs %}
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="row">

                            <div class="col-md-5 col-lg-4">
                                <img class="card-image" src="assets/images/resources/checklist-mentors.png" alt="blog-image">
                            </div>

                            <div class="col-md-7 col-lg-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{blog.title}}</h4>
                                    <p>{{blog.date}} | {{blog.author}}</p>
                                    <div class="card-content">
                                        <p class="card-text">{{blog.description}}</p>
                                
                                        <div class="link">
                                            <a href="{{blog.link}}" target="_blank">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
