---
layout: default
title: Mentorship Resources
---


<div class="resources container">
    <div class="material">
        <h3 class="p-5">Mentorship Resources</h3>
    </div>


    <div class="material">
        <div class="row g-3">
            {% for resources in site.data.resources %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{resources.image}}" alt="pocketbook-mentees" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{resources.title}}</h5>
                        <a href={{resources.link}} class="btn btn-outline-primary">Open</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <div class="blog">
        <h3 class="p-5">Mentorship Blog Posts</h3>
    </div>

    <div class="blog">
        {% for blogs in site.data.blogs %}
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">

                        <div class="img-square-wrapper">
                            <img class="" src="assets/images/resources/checklist-mentors.png" alt="blog-image">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">{{blogs.title}}</h4>
                            <div class="row">
                                <h6>{{blogs.date}}</h6>

                                <div class="col-12 col-md-6 col-lg-3">
                                    <h6>{{blogs.author}}</h6>
                                </div>

                            </div>
                            <p class="card-text">{{blogs.description}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
