---
layout: default
title: Meet our core team
---

<div class="container team">
    <h1>{{page.title}}</h1>
    
    <div class="row g-3">
        {% for person in site.data.team %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <img src="{{person.image}}" alt="profile photo" class="profile photo card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{person.name}}</h5>
                    <p>{{person.position}}</p>
                    <p>{{person.comment}}</p>
                    <p>
                        {% for network in person.network %}
                        <a class="network-icons btn btn-primary btn-sm" href="{{network.link}}">{{network.name}} </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="contributors">
        <h1>Contributors</h1>
        <div class="row g-3">
            {% for person in site.data.colaborators %}
            <div class="col-12 col-md-6 col-lg-3 mx-auto p-5">
                <div class="contributors card">
                    <img src="{{person.image}}" alt="profile photo" class="profile photo card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{person.name}}</h5>
                        <p>{{person.position}}</p>
                        <p>{{person.comment}}</p>
                        <p>
                            {% for network in person.network %}
                            <a class="network-icons btn btn-primary btn-sm" href="{{network.link}}">{{network.name}} </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>