.banner {
    .title {
        margin-top: 80px;
    }

    h1, h2, h3 {
        // color: $white;
    }

    .banner-image {
        width: 100%;
    }
}

.home {
    .content {
        margin: 50px;
    }

    .registration {
        @extend .content;
        @extend .justify-content-around;
        margin-top: 40px;

        ul {
            list-style: none;
        }

        li {
            margin-left: -37px;
        }

        span {
            font-weight: $font-weight-bold !important;
            font-size: larger;
        }
    }

    button {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: $teal;
        color: $white;
        font-size: 20px;
        border-radius: 6px;
        padding: 0 33px;
        font-weight: bold;
        height: 50px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        margin: 20px 0 0 0;
        text-decoration: none;
    }

    .card-body {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        p {
            margin-bottom: 30px;
        }
    }

    .timeline {
        .row {
             @extend .justify-content-around;
        }
         .photo {
             width: 800px;
         }
     }
     
     .feedback {
         // TODO: fix carousel STYLE
        .carousel-indicators li {
             background-color: $teal;
        }
        .carousel-control-prev-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
     
        .carousel-control-next-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
     }
}