.banner {
    .title {
        margin-top: 80px;
    }

    h1, h2, h3 {
        // color: $white;
    }

    .banner-image {
        width: 100%;
    }
}

.container {

    h1, h2 {
        @extend .text-center;

        margin-top: 35px;
        margin-bottom: 20px;
    }

    .content {
        margin: 50px;
    }

    .registration {
        margin-top: 40px;

        ul {
            list-style: none;
        }

        li {
            margin-left: -37px;
        }

        span {
            font-weight: $font-weight-bold !important;
            font-size: larger;
        }
    }

    button {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: $teal;
        color: $white;
        font-size: 20px;
        border-radius: 6px;
        padding: 0 33px;
        font-weight: bold;
        height: 50px;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        margin: 20px 0 0 0;
        text-decoration: none;
    }
}

.timeline {
    .photo {
        width: 800px;
    }
}

.feedback {
    // TODO: fix carousel STYLE
   .carousel-indicators li {
        background-color: $teal;
   }
}