
.mentors {
    a {
        font-weight: $font-weight-bold !important;
        color: $teal;
    }

    .card-body {
        min-height: 400px;
        
        p {
            margin: 0;
        }
    }

    .description {
        margin-bottom: 10px;
    }

    .profile-photo {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded;

        width: 200px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .card-title {
        padding-top: 20px;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-link {
        margin-top: 15px;
    }

    .card-horizontal {
        max-height: 400px;

    }

    .network {
        @extend .text-center;
        
        margin-top: 22px;

        a {
            margin-left: 10px;
            border-radius: 100%;
            
            svg {
                height: 30px;
                width: 30px;
                fill: $teal;
            }
        }
    }
}

