
.mentors {
    .card-img {
        border-radius: 50%;
        padding: 20px;
    }

    .col-md-3 {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    .link {
        font-weight: $font-weight-bold !important;
        color: $teal;
    }

    a {
        @extend .link;
    }

    .card-header {
        li {
            cursor: pointer;
            :hover {
                text-decoration: underline;
            }

            .active {
                @extend .link;
            }
        }
    }

    .card-body {
        min-height: 500px;
        
        p {
            margin: 0;
        }
    }

    .description {
        margin-bottom: 10px;
    }

    .profile-photo {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded;

        width: 200px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .card-title {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-link {
        margin-top: 15px;
    }

    .card-horizontal {
        max-height: 400px;
    }

    .justify-text {
        text-align: justify;
        text-justify: inter-word;
    }

    .network {
        @extend .text-center;
        
        margin-top: 22px;

        a {
            margin-left: 10px;
            border-radius: 100%;
            
            svg {
                height: 30px;
                width: 30px;
                fill: $teal;
            }
        }
    }

    .card-text {
        margin-top: 10px !important;

        label {
            font-weight: $font-weight-bold !important;
            margin-bottom: 0;
        }
    }
}

