.navbar-nav .nav-link {
    font-size: $navbar-toggler-font-size;
}

.navbar-title {
    font-size: $navbar-toggler-font-size;
}

.navbar {
    .navbar-brand {
        img {
            width: 120px;
        }
    }
}