.navbar-nav .nav-link {
    font-size: $navbar-toggler-font-size;
}

.navbar-title {
    font-size: $navbar-toggler-font-size;
}

.navbar {

    background-color: $white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    .navbar-brand {
        img {
            width: 120px;
        }
    }
}