
.mentors {
    .description {
        margin-bottom: 10px;
    }

    .profile-photo {
        @extend .mx-auto;
        @extend .d-block;
        @extend .rounded;

        width: 200px;
        margin-top: 80px;
        padding-left: 10px;
    }

    .card-title {
        padding-top: 20px;
    }

    .card {
        margin-top: 20px;
    }

    .card-horizontal {
        max-height: 400px;
    }

    .network {
        @extend .text-center;
        margin-top: 15px;
    }
}

