.resources {
    .blog{

    margin-bottom: 50px;

        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }

        .card-columns {
          @include media-breakpoint-only(lg) {
            column-count: 4;
          }}
   }
}


