.resources {

  .card {
    height: 100%;
  }

  .card-body {
      display: flex;
      height: 100%;
      flex-direction: column;

      p {
        margin-bottom: 30px;
      }
  }

  .card-title{
      margin-bottom: 10px;
  }

  .blog {

    margin-bottom: 70px;

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }

    .card-columns {
      @include media-breakpoint-only(lg) {
        column-count: 4;
      }
    }

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    a {
      font-weight: bold;
      font-size: $font-size-md;
    }
  }
}


