@import "menu";
@import "footer";
@import "home";
@import "mentors";
@import "resources";
@import "team";

.card {
    height: 100%;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-title{
    flex-grow: 1;
}

h1, h2, h3 {
    @extend .text-center;

    margin-top: 60px;
    margin-bottom: 50px;
}
