<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light lined">
    
    <a class="navbar-brand" href="/london"><img class="brand" src="assets/images/logo.png"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navbar %}
                <li class="nav-item">
                    <a class="nav-link" id="nav-{{item.index}}" href="{{item.link}}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
