---
---

@import "main";

.navbar-nav .nav-link {
    font-size: 1.5em;
}

.navbar-title {
    font-size: 1.5em;
}

.mentors-photo {
    width: 150px;
}

.resources {
    margin-top: 30px;
}

.navbar {
    .navbar-brand {
        img {
            width: 120px;
        }
    }
}

.row-mentee {
    margin-top: 40px;
}

.container {
    h3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}